@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to bottom, #E6F9EC, #85E3B8, #5DD39E); /* Fondo degradado modo claro */
  min-height: 100vh;
  height: 100%;
  color: #000000;
  background-attachment: fixed;

  --progress-active-color: #3b82f6;   /* Azul combinable para modo claro */
  --progress-inactive-color: #cbd5e1; /* Gris claro */
}

html.dark body {
  background-image: linear-gradient(to bottom, #0B3D2E, #106D4D, #1F7A55); /* Fondo degradado modo oscuro */
  color: #ffffff;
  --progress-active-color: #22d3ee;   /* Azul turquesa para modo oscuro */
  --progress-inactive-color: #4b5563; /* Gris oscuro */
}

/* Ocultar atribución de Leaflet */
.no-attribution .leaflet-control-attribution {
  display: none !important;
}

.no-letter-spacing {
  letter-spacing: 0 !important;
}
